services:
    -
        class: DR\Utils\PHPStan\Extension\ArraysRenameKeyReturnExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: DR\Utils\PHPStan\Extension\ArraysRemoveTypesReturnExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: DR\Utils\PHPStan\Extension\AssertTypeReturnExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: DR\Utils\PHPStan\Extension\AssertTypeTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
    -
        class: DR\Utils\PHPStan\Lib\TypeNarrower
