services:
    -
        class: DR\Utils\PHPStan\ArraysReturnExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: DR\Utils\PHPStan\AssertTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
