services:
	-
		class: DR\Utils\PHPStan\ArraysRemoveTypesReturnExtension
		tags:
			- phpstan.broker.dynamicStaticMethodReturnTypeExtension

parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  paths:
    - src
    - tests
