includes:
  - phpstan-baseline.neon
  - extension.neon

parameters:
  level: max
  treatPhpDocTypesAsCertain: false
  paths:
    - src
    - tests
  excludePaths:
    - tests/Integration/PHPStan/data
